.CardPhotos {
    flex: 1;
}

.sectionWrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.individualSectionWrapper {
    /* padding: 20px 20px 0px 20px; */
    margin-bottom: 30px;
    border-style: ridge;
}

.actualImg {
    text-align: center;
    justify-content: center;
    max-width: 100%;
    height: auto
}

.descriptionImg {
    text-align: center;
}

.imgLikes {
    text-align: center;
}